
//BOX
$color-opacity: .3;

$color-front: rgba(173,132,213,$color-opacity);
$color-back: rgba(255,229,207,$color-opacity);
$color-top: rgba(250,189,172,$color-opacity);
$color-bottom: rgba(158,217,185,$color-opacity);
$color-left: rgba(182,183,219,$color-opacity);
$color-right: rgba(219,218,182,$color-opacity);

$edge-shadow: rgba(0,0,0,.3);

$icon-1: rgba(0,160,176,1);
$icon-2: rgba(106,74,60,1);
$icon-3: rgba(204,51,63,1);
$icon-4: rgba(235,104,65,1);
