
//BOX
$color-opacity: .3;

$color-front: rgba(173,132,213,$color-opacity);
$color-back: rgba(255,229,207,$color-opacity);
$color-top: rgba(250,189,172,$color-opacity);
$color-bottom: rgba(158,217,185,$color-opacity);
$color-left: rgba(182,183,219,$color-opacity);
$color-right: rgba(219,218,182,$color-opacity);

$edge-shadow: rgba(0,0,0,.3);
