.App {
  text-align: center;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.store-item {
  position: relative;

  .next-item {
    color: lightgray;
  }

  .available {
    cursor: pointer;
  }

  .item-description {
    position: absolute;
    visibility: hidden;
    transform: translateX(-50%) translateY(-60px);
    border-radius: 10px;
    left: 50%;
    opacity: 0;
    padding: 10px 20px;
    background-color: black;
    color: white;
    transition: all .3s;
  }

  &:hover .item-description {
    visibility: visible ;
    opacity: .8;
    animation: 4s 1 hide;
    animation-delay: 2s;

  }
}

@keyframes hide {
  0% { opacity: .8 }
  90% { opacity: .8 }
  100% { opacity: 0;}
}
